/* 开屏动画 */

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

div#reloading {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 1600ms;
}

.loader-3 {
    display: block;
    margin: auto;
    position: relative;
    width: 96px;
    height: 96px;
    border: 3px solid #00afee;
    border-radius: 50%;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;

    &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 112px;
        height: 112px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-bottom-color: #90cf5b;
    }
}

/* 开屏动画 */

a {
    text-decoration: none;
    color: inherit;
}

.icons {
    height: 100px;
    width: 100px;
}

div#larger {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../images/subject01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

section {
    left: 0;
    height: 100%;
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    transition: background-image .7s ease-in-out;
}

.shell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: rgba(99, 99, 99, 0.8);
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 380px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -80px;
}

.prev,
.next {
    transition: transform 0.25s ease;
    z-index: 99999;
    bottom: 5px;
}

.prev i,
.next i {
    font-size: 90px;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 0 10px #ffffff;
}

.shell_body {
    width: 100%;
    transform: scale(.8);
    padding: 20px 0 150px 0;
}

.shell_slider {
    position: relative;
    transition: transform 1s ease-in-out;
    background: transparent;
}

.item {
    position: relative;
    float: left;
    margin: 0 20px;
}

.frame {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.frame:after {
    content: "";
    position: absolute;
    bottom: -16%;
    width: 100%;
    height: 60px;
    background: #ffffff1c;
    box-shadow: 0px 0px 15px 5px #ffffff1c;
    transform: rotateX(90deg) translate3d(0px, -20px, 0px);
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 4px solid #fff;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.box h1,
.box span {
    color: #fff;
    transform: translateZ(20px);
}

.box h1 {
    text-shadow: 0 0 30px #90cf5b;
    font-size: 100px;
}

.box span {
    position: absolute;
    bottom: 20px;
    padding: 0 25px;
    text-shadow: 0 0 10px #90cf5b;
}

.front,
.left,
.right {
    box-shadow: 0 0 50px #ffffff;
    background-size: cover;
}

.right,
.left {
    top: 0;
    width: 60px;
    backface-visibility: hidden;
}

.left {
    left: 0;
    border-left-width: 5px;
    transform: translate3d(1px, 0, -60px) rotateY(-90deg);
    transform-origin: 0%;
}

.right {
    right: 0;
    border-right-width: 5px;
    transform: translate3d(-1px, 0, -60px) rotateY(90deg);
    transform-origin: 100%;
}

div.toTitle {
    background-image: url(../images/return.png);
    background-size: contain;
    position: fixed;
    height: 40px;
    width: 44px;
    background-color: rgba(255, 255, 255, 0.5);
    left: 3%;
    bottom: 5%;
    border-radius: 50%;
}